.buildpath
.project
.settings/
.DS_Store
data/

.vagrant/*

default/adminer/index.php

html/index.html

puphpet/files/dot/ssh/id_rsa

puphpet/files/dot/ssh/id_rsa.ppk

puphpet/files/dot/ssh/id_rsa.pub

puphpet/files/dot/ssh/root_id_rsa

puphpet/files/dot/ssh/root_id_rsa.ppk

puphpet/files/dot/ssh/root_id_rsa.pub

webapp/extlibs/isosceles/libs/config.inc.php